*{
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Nunito', sans-serif;
  color: #111111;
  margin: 0 0 26px;
  line-height: 1.2;
}

h2{
  font-size: 36px;
  font-weight: 700;
}

h3{
  font-size: 24px;
  font-weight: 700;
}

a{
  text-decoration: none;
}

p{
  margin: 0;
}

img{
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  line-height: 70px;
  text-align: center;
}

body{
  margin: 0;
  font-size: 15px;
  color: #505050;
  font-family: 'Rubik', sans-serif;
  vertical-align: baseline;
  line-height: 26px;
  font-weight: 400;
  overflow-x: hidden;
}

/* header */

header{
  position: sticky;
  display: flex;
  top: 0;
  width: 100%;
  height: 110px;
  background-color:white;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

.nav{
  /* background-color: black; */
  margin: auto;
  float: left;
  clear: both;
}

.menu-group{
  /* background-color: blueviolet; */
  padding-left: 0;
  margin: 0;
}

.menu-item{
  /* background-color: blanchedalmond; */
  list-style: none;
  display: inline-block;
  margin-right: 25px;
}

.sub-menu-group{
  display: none;
  position: absolute;
  list-style: none;
  top: 100%;
  padding-left: 0%;
  background-color: white;
}

.parent:hover .sub-menu-group{
  display: block;
}

.img-logo{
  /* background-color: aquamarine; */
  width: 10%;
}

/* banner */

.container{
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
}

#banner{
  background: url(Devplus_missions.png);
  background-size: cover;
  background-position: center;
  padding: 125px 0px 425px;
}

.banner-content{
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
}

.banner-title{
  font-size: 55px;
  margin-bottom: 16px;
  text-transform: capitalize;
  color: #fff;
}

.desc{
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 35px;
}

.btn{
  border: 1px solid #ff5421;
  color: #ffffff;
  background: #ff5421;
  padding: 16px 58px;
  border-radius: 30px;
  text-transform: uppercase;
  font-size: 16px;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
}

/* about */

#about{
  padding-bottom: 100px;
}

.row{
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  flex-wrap: wrap;
}

.col-about, .col-roadmap{
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  flex: 0 0 auto;
}

.col-about{
  padding-right: 50px;
  width: 66.7%;
}

.about-part{
  background: #e7f4f6;
  padding: 60px 60px 70px;
  border-radius: 5px;
  margin-top: -60px;
}

.title-sec{
  margin-bottom: 40px;
}

.sub-title{
  color: #226FB7;
  font-size: 18px;
  line-height: 28px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.title-sec .desc{
  margin: 0;
  font-size: 18px;
}

.col-roadmap{
  width: 33.3%;
}

.roadmap-part{
  margin-top: -60px;
}

.roadmap-title{
  background: #226FB7;
  font-size: 20px;
  text-transform: uppercase;
  padding: 18px 25px;
  text-align: center;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 10px;
}

.roadmap-list{
  list-style: none;
  margin: 0;
  padding: 0;
}

.roadmap-item{
  position: relative;
  background: #e7f4f6;
  margin-bottom: 12px;
  border-radius: 3px;
  padding: 20px;
  padding-left: 0 !important;
  overflow: hidden;
}

.roadmap-item span{
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #226FB7;
  border-right: 1px solid #226FB7;
  padding-right: 10px;
  font-weight: 600;
  width: 60px;
  font-size: 22px;
  font-family: 'Nunito', sans-serif;
  display: block;
}

.roadmap-item div{
  padding-left: 95px;
  font-weight: 500;
}

/* skills */

#skills{
  background: #f3f8f9;
  padding-top: 94px;
  padding-bottom: 70px;
}

.skill-title-sec{
  align-items: center;
  margin-bottom: 50px;
}

.skill-title-sec div{
  flex: 0 0 auto;
  width: 100%;
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
}

.skill-title{
  margin-bottom: 0;
}

.skill-col{
  margin-bottom: 30px;
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  flex: 0 0 auto;
  width: 33.3%;
}

.skill-item{
  padding: 25px 20px;
  border: 1px solid #dfe9eb;
  background: #ffffff;
  overflow: hidden;
  display: block;
  color: #505050;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.icon-part{
  float: left;
  margin-right: 25px;
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 100%;
  background: rgba(22, 170, 202, 0.2);
  text-align: center;
}

.content-part{
  color: #505050;
}

.content-title{
  color: #111111;
  margin-bottom: 5px;
  font-size: 22px;
}