*{
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Nunito', sans-serif;
  color: #111111;
  margin: 0 0 26px;
  line-height: 1.2;
}

h2{
  font-size: 36px;
  font-weight: 700;
}

h3{
  font-size: 24px;
  font-weight: 700;
}

a{
  text-decoration: none;
  outline: none;
}

a, a:visited{
  color: inherit;
}

p{
  margin: 0;
}

ul{
  margin: 0;
  padding: 0;
}

img{
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  text-align: center;
}

body{
  margin: 0;
  font-size: 15px;
  color: #505050;
  font-family: 'Rubik', sans-serif;
  vertical-align: baseline;
  line-height: 26px;
  font-weight: 400;
  overflow-x: hidden;
}

.hide{
  display: none;
}

/* header */

header{
  position: sticky;
  z-index: 999;
  top: 0;
  width: 100%;
  background-color:white;
  align-items: center;
  margin: 0;
  border: none;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.08);
}

.container{
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1270px;
}

header .container .row{
  align-items: center;
}

.col-side, .col-middle{
  position: relative;
  padding: 0 15px;
  flex: 0 0 auto;
  text-align: right;
}

.col-side{
  width: 16.6%;
}

.col-middle{
  width: 66.6%;
}

/* .logo-cat-wrap{
  display: flex;
  align-items: center;
  height: 120px;
  line-height: 120px;
} */

header .logo-part{
  display: flex;
  align-items: center;
  height: 120px;
  line-height: 120px;
  position: relative;
}

header .logo-part img{
  max-height: 40px;
}

.menu-area{
  justify-content: center;
  display: flex;
  align-items: center;
}

.main-menu{
  position: relative;
}

.main-menu nav{
  height: auto;
  float: left;
  clear: both;
  width: 100%;
}

.main-menu .menu-group{
  border: 0;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu-item{
  margin-right: 40px;
  display: inline-block;
  position: relative;
  font-size: 14px;
}

.menu-item a{
  display: block;
  color: #111111;
  font-weight: 600;
  padding-right: 18px;
  margin-right: unset;
  font-size: 15px;
  text-transform: uppercase;
  height: 120px;
  line-height: 120px;
  position: static;
  transition: all 0.3s ease;
}

.menu-group .menu-item:first-child a{
  color: #226FB7;
}

.menu-item a:hover{
  color: #226FB7;
}

.sub-menu-group{
  display: block;
  opacity: 0;
  position: absolute;
  list-style: none;
  top: 100%;
  padding-left: 0%;
  background-color: white;
  margin: 0;
  padding: 15px 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  width: auto;
  transition: all 0.3s ease-in-out;
  transform: scaleY(0);
  transform-origin: 0 0;
}

.sub-menu-group li{
  margin: 0 40px 0 0;
  padding: 0;
  display: inline-block;
}

.sub-menu-group li a{
  font-weight: 400;
  padding: 10px 18px 10px 30px;
  height: unset;
  line-height: unset;
  text-transform: capitalize;
  width: 260px;
  text-align: left;
}

.parent a{
  position: relative;
}

.parent a span{
  position: absolute;
  right: 0;
}

.parent a .hover{
  display: none;
}

.parent:hover .hover{
  display: inline;
}

.parent:hover .normal{
  display: none;
}

.parent:hover .sub-menu-group{
  opacity: 1;
  transform: scaleY(1);
}


.side-menu-icon{
  font-size: 30px;
  line-height: 120px;
  color: #111111;
  transition: all 0.3s ease;
}

.side-menu-icon:hover{
  color: #226FB7;
}

.side-menu{
  display: block;
  position: fixed;
  height: 100%;
  z-index: 1000;
  width: 500px;
  padding: 30px 50px;
  text-align: center;
  top: 0;
  right: 0;
  background-color: #FAFAFA;
  overflow: auto;
}

.close-btn-part{
  overflow: visible;
}

.close-btn{
  width: 40px;
  height: 40px;
  background-color: #226FB7;
  border-radius: 100%;
  position: relative;
}

.cross-mark{
  width: 40px;
  height: 40px;
  line-height: 40px;
  transition: all 0.3s ease;
}

.line1, .line2{
  position: absolute;
  background-color: #fff;
  left: 50%;
  top: 50%;
  width: 1px;
  height: 20px;
  transform: translate(-50%, -50%) rotate(45deg);
}

.cross-mark .line2{
  transform: translate(-50%, -50%) rotate(-45deg);
}

.close-btn:hover .cross-mark{
  transform: rotateZ(180deg);
}

.side-logo-part{
  margin: 50px 0 30px;
}

.side-logo-part img{
  max-height: 35px;
}

.side-menu .text-part{
  margin-bottom: 26px;
}

.gallery-part{
  display: inline-block;
  margin-bottom: 25px;
}

.gallery-img{
  width: 33.3%;
  padding: 0 5px 10px;
  float: left;
}

.gallery-img div{
  display: block;
  overflow: hidden;
}

.gallery-img img{
  transition: all 0.3s ease;
}

.gallery-img:hover img{
  transform: scale(1.1);
}

.side-social-part{
  padding-top: 50px;
}

.side-social-part i{
  font-size: 18px;
  color: #111111;
  font-weight: bold;
  transition: all 0.3s ease;
}

.side-social-part i:hover{
  color: #226FB7;
}

/* banner */

#banner{
  background: url(https://devplus.edu.vn/assets/images/devplus/Devplus_missions.png);
  background-size: cover;
  background-position: center;
  padding: 125px 0px 425px;
}

.banner-content{
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
}

.banner-title{
  font-size: 55px;
  margin-bottom: 16px;
  text-transform: capitalize;
  color: #fff;
}

.desc{
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 35px;
}

.btn{
  border: 1px solid #ff5421;
  color: #ffffff;
  background: #ff5421;
  padding: 16px 58px;
  border-radius: 30px;
  text-transform: uppercase;
  font-size: 16px;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  display: inline-block;
  transition: 0.3s;
}

.btn:hover{
  border-color: #FF914D;
  background: #FF914D;
}

/* about */

#about{
  padding-bottom: 100px;
}

.row{
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  flex-wrap: wrap;
}

.col-about, .col-roadmap{
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  flex: 0 0 auto;
}

.col-about{
  padding-right: 50px;
  width: 66.7%;
}

.about-part{
  background: #e7f4f6;
  padding: 60px 60px 70px;
  border-radius: 5px;
  margin-top: -60px;
}

.title-sec{
  margin-bottom: 40px;
}

.sub-title{
  color: #226FB7;
  font-size: 18px;
  line-height: 28px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.title-sec .desc{
  margin: 0;
  font-size: 18px;
}

.col-roadmap{
  width: 33.3%;
}

.roadmap-part{
  margin-top: -60px;
}

.roadmap-title{
  background: #226FB7;
  font-size: 20px;
  text-transform: uppercase;
  padding: 18px 25px;
  text-align: center;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 10px;
}

.roadmap-list{
  list-style: none;
  margin: 0;
  padding: 0;
}

.roadmap-item{
  position: relative;
  background: #e7f4f6;
  margin-bottom: 12px;
  border-radius: 3px;
  padding: 20px;
  padding-left: 0 !important;
  overflow: hidden;
}

.roadmap-item span{
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #226FB7;
  border-right: 1px solid #226FB7;
  padding-right: 10px;
  font-weight: 600;
  width: 60px;
  font-size: 22px;
  font-family: 'Nunito', sans-serif;
  display: block;
}

.roadmap-item div{
  padding-left: 95px;
  font-weight: 600;
}

/* skills */

#skills{
  background: #f3f8f9;
  padding-top: 94px;
  padding-bottom: 70px;
}

.skill-title-sec, .campus-title-sec{
  align-items: center;
  margin-bottom: 50px;
}

.skill-title-sec div, .campus-title-sec div{
  flex: 0 0 auto;
  width: 100%;
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
}

.skill-title{
  margin-bottom: 0;
}

.skill-col{
  margin-bottom: 30px;
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  flex: 0 0 auto;
  width: 33.3%;
}

.skill-item{
  padding: 30px;
  border: 1px solid #dfe9eb;
  background: #ffffff;
  overflow: hidden;
  display: block;
  color: #505050;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.skill-item, .icon-part, .icon-part img, .content-part, .content-title{
  transition: all 0.3s ease;
}

.icon-part{
  float: left;
  margin-right: 25px;
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 100%;
  background: rgba(22, 170, 202, 0.2);
  text-align: center;
}

.content-part{
  color: #505050;
}

.content-title{
  color: #111111;
  margin-bottom: 5px;
  font-size: 22px;
}

.skill-item:hover{
  background-color: #226FB7;
}

.skill-item:hover .icon-part img{
  transform: scale(0.9);
}

.skill-item:hover .icon-part{
  background-color: white;
}

.skill-item:hover .content-part{
  color: #fff;
}

.skill-item:hover .content-title{
  color: #fff;
}

/* campus */

#campus{
  background: url(https://devplus.edu.vn/assets/images/bg/home-8-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 94px 0 70px;
}

.campus-col{
  position: relative;
  padding: 0 15px;
  flex: 0 0 auto;
  width: 33.3%;
  margin-bottom: 30px;
}

.campus-content{
  padding: 30px 20px;
  border: 1px solid #dfe9eb;
  border-radius: 5px;
}

.campus-content .img-part{
  margin-bottom: 30px; 
}

.img-part img{
  width: 100%;
  border-radius: 5px;
}

.campus-content .content-part h3{
  font-size: 24px;
}

/* admission */

#admission{
  position: relative;
  background-color: #f3f8f9;
}

#admission .row{
  align-items: center;
}

.admission-col{
  position: relative;
  padding: 0 15px;
  flex: 0 0 auto;
  width: 50%;
}

.admission-col .img-part img{
  border-radius: 0;
}

.admission-content{
  max-width: 700px;
  padding-left: 90px;
  padding-right: 15px;
}

.admission-title-sec{
  margin-bottom: 40px;
}

.admission-title-sec .desc{
  font-size: 15px;
  margin: 0;
  line-height: 26px;
}

.admission-btn .btn{
  background-color: #226FB7;
  border-color: #226FB7;
}

.admission-btn .btn:hover{
  background-color: #1E95BA;
  border-color: #1E95BA;
}

/* qa */

#qa{
  padding: 100px 0;
}

.qa-col{
  position: relative;
  flex: 0 0 auto;
  padding: 0;
  width: 50%;
}

.qa-col .main-part{
  padding: 60px 60px 70px;
  background-color: #f9f8f8;
}

.qa-title{
  margin-bottom: 40px;
}

.qa-content{
  border-width: 12px;
}

.accordion-item{
  margin-bottom: 25px;
  border: none;
  background-color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  border-radius: 0.25rem;
}

.accordion-header{
  display: flex;
  align-items: center;
  padding: 0;
  border: none;
  margin-bottom: 0;
}

.accordion-btn{
  position: relative;
  display: block;
  width: 100%;
  padding: 0 60px;
  height: 65px;
  line-height: 65px;
  font-size: 16px;
  font-weight: 600;
  background: #FFFFFF;
  /* background: #226FB7; */
  box-shadow: 0 0 49px 0 rgba(0, 0, 0, 0.08);
  /* color: #ffffff; */
  color: #111111;
  border-width: 0;
  text-align: left;
}

.accordion-btn i{
  position: absolute;
  left: 25px;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  font-weight: 400;
  background: unset;
  height: unset;
  width: unset;
}

.accordion-body{
  display: none;
  background: #ffffff;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  color: #505050;
  padding: 15px 14px 15px;
  width: 100%;
}

.qa-col .img-part{
  background: url(https://devplus.edu.vn/assets/images/devplus/video_03.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  min-height: 615px;
  position: relative;
  display: inline-block;
  z-index: 1;
}

.popup-video{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  background: #226FB7;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  text-align: center;
}

.popup-video i{
  color: #fff;
  margin-left: 5px;
}

.popup-video i:before{
  font-size: 30px;
  line-height: 70px;
}

.popup-video .hover {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  animation: pulse-border 1500ms ease-out infinite;
  transition: all 0.3s ease;
  opacity: 0;
}

.popup-video:hover .hover{
  opacity: 1;
}

@keyframes pulse-border{
  from{
    background-color: rgba(34, 111, 183, 1);
    width: 120px;
    height: 120px;
  }

  to{
    background-color: rgba(34, 111, 183, 0);
    width: 180px;
    height: 180px;
  }
}

/* review */

#review{
  padding: 100px 0;
}

.review-title{
  margin-bottom: 50px;
  text-align: center;
}

.carousel{
  width: 100%;
  position: relative;
  display: block;
}

.owl-stage-outer{
  position: relative;
  padding: 10px;
  margin: -10px;
}

.owl-stage{
  position: relative;
  width: 4445px;
}

.owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.owl-item{
  position: relative;
  float: left;
  width: 605px;
  margin-right: 30px;
}

.auther-desc{
  min-height: 440px;
  padding: 70px 15px;
  background-color: #f3f8f9;
  border-radius: 5px 5px 5px 5px;
}

.auther-desc .desc{
  text-align: center;
  position: relative;
  color: #505050;
  padding: 80px 40px 30px;
  font-size: 23px;
  line-height: 33px;
  font-weight: 600;
  font-style: italic;
  margin: 0;
}

.quote{
  width: 66px;
  top: -13px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.auther-img{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 80px;
}

.auther-img img{
  width: auto;
  border-radius: 50%;
}

.auther-info{
  text-align: center;
  padding-top: 45px;
}

.auther-info .name{
  font-size: 20px;
  font-weight: 700;
  line-height: 45px;
  color: #226FB7;
  display: block;
}

.designation{
  font-size: 16px;
  color: #111111;
}

.owl-dots{
  text-align: center;
  margin: 47px auto 0;
  line-height: 15px;
  display: block;
}

.owl-dot{
  width: 40px;
  height: 10px;
  display: inline-block;
  margin: 0 6px;
  padding: 3px 0;
  border-radius: 30px;
  background: #226FB7;
  border: none;
}

/* footer */

footer{
  background-color: #273c66;
  background-image: url(https://devplus.edu.vn/assets/images/bg/footer-bg.png);
  background-size: cover;
}

.footer-top{
  padding: 218px 0 93px;
}

.footer-col{
  width: 25%;
  position: relative;
  padding: 0 15px;
  margin: 0;
}

.footer-title{
  color: #fff;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 35px;
}

.footer-col ul{
  color: #fff;
  list-style-type: none;
}

.footer-col .list li{
  padding-left: 15px;
  position: relative;
  margin-bottom: 11px;
}

.footer-col ul li:last-child{
  margin-bottom: 0;
}

.footer-col .list li:before{
  position: absolute;
  content: '';
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 6px;
  height: 6px;
  background: #226FB7;
}

.address-list li{
  position: relative;
}

.address-list li i{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.address-list li:first-child i{
  top: 25%;
}

.address-list li div{
  position: relative;
  padding-left: 35px;
  margin-bottom: 16px;
}

.footer-bottom{
  padding: 40px 0;
  position: relative;
}

.footer-bottom:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  width: 100%;
  max-width: 1140px;
  background: rgba(255, 255, 255, 0.1);
}

.footer-bottom .container .row .col{
  padding: 0 15px;
  flex: 0 0 auto;
  width: 33.3%;
}

.footer-logo{
  display: inline-block;
}

.footer-logo img{
  max-width: 190px;
}

.footer-social ul{
  list-style-type: none;
}

.footer-social{
  text-align: right;
}

.footer-social ul li{
  display: inline;
  margin-right: 5px;
}

.footer-social ul li:last-child{
  margin-right: 0;
}

.footer-social ul li a{
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 100%;
  background: #226FB7;
  color: #ffffff;
  text-align: center;
}
